@import "tailwindcss";

@theme {
	--color-moderate-cyan: hsl(176, 50%, 47%);
	--color-dark-cyan: hsl(176, 72%, 28%);
	--color-black: hsl(0, 0%, 0%);
	--color-dark-gray: hsl(0, 0%, 48%);
}

body {
	font-family: "Commissioner";
}

input[type="number"]:focus {
	outline: none;
	box-shadow: none;
	border-color: transparent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
